<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org">
<suite name="Senior Suite" parallel="methods" thread-count="2" data-provider-thread-count="1">
    <test name="Parallel Tests">
        <classes>
            <class name="org.example.WikipediaTest"/>
        </classes>
    </test>
</suite>
