# --- Maven ---
target/
*.class

# --- IntelliJ IDE ---
.idea/
*.iml
out/
.classpath
.project
.settings/

# --- Excel Temporary Files ---
# Evita el error de "Permission Denied" cuando tienes el Excel abierto
~$*.xlsx
~$*.xls

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Log Files ---
*.log
