<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Senior Suite" parallel="none">
    <test name="Full Stack Tests">
        <classes>
            <class name="org.example.WikipediaTest"/>
            <class name="org.example.ApiTest"/>
        </classes>
    </test>
</suite>
